<div  class="wrapper" >
  <div class="main" (click)="clickWrapper()" [ngClass]="{expand: isExpand}">
    <div class="header">
      <div class="title">文章标题</div>
    </div>
    <div class="content">
      文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内
      容文章内容文章内容文章内容文章内容文章内容文章内容文章内容1
      文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内
      容文章内容文章内容文章内容文章内容文章内容文章内容文章内容1
      文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内
      容文章内容文章内容文章内容文章内容文章内容文章内容文章内容1
      文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内
      容文章内容文章内容文章内容文章内容文章内容文章内容文章内容1
      文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内
      容文章内容文章内容文章内容文章内容文章内容文章内容文章内容1
      文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内
      容文章内容文章内容文章内容文章内容文章内容文章内容文章内容1
    </div>

  </div>
</div>