:host {
  display: flex;
  background: no-repeat 50%;
  background-size: cover;
  height: 300px;
  position: relative;
  .title {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    margin: 0;
    font-size: 63px;
    font-weight: 500;
  }
}