:host {
  display: block;
  .toolbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    .title {
      text-decoration: none;
      font-size: 16px;
      color: #fff;
    }
  }
  .toolbar-transparent {
    background-color: transparent;
  }
  .fill-remaining-space {
    flex: 1 1  auto;
  }
  .search-input {
    flex: 0.5;
    height: 35px;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    background-color: rgba(200,200,200,.7);
  }
  .sidenav {
    width: 200px;
  }
  .banner {
    position: relative;
    overflow: hidden;
    height: 400px;
    .banner-display {
      display: flex;
      background: no-repeat 50%;
      background-size: cover;
      height: 400px;
      width: 100%;
      position: absolute;
      bottom: 0;
      .background-opacity {
        content: "";
        background-color: #666;
        height: 100%;
        width: 100%;
      }
      .title {
        text-decoration: none;
        white-space: nowrap;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        margin: 0;
        font-size: 63px;
        font-weight: 500;
      }
    }
    .all-img {
      background-image: url("../../assets/image/all.jpg");
    }
  }
}

@media (max-width: 599px)  {
  :host {

    .search-input {
      height: 25px;
    }
  }
}
