
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="'navigation'"
               [mode]="'over'">
    <mat-nav-list>
      <a mat-list-item [routerLink]="[ '/blog' ]" >文章</a>
      <a mat-list-item [routerLink]="[ '/blog/tag' ]" >标签</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary" class="mat-elevation-z6 toolbar" [ngClass]="{'toolbar-transparent': toolbarTransparent}" role="heading">
      <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a *ngIf="!toolbarTransparent" class="title" [routerLink]="['/']"  >米饭博客</a>
      <span class="fill-remaining-space"></span>
      <app-input placeholder="搜索" [(value)]="searchValue" icon="search" class="search-input"></app-input>
    </mat-toolbar>
    <div class="banner" [style.height.px]="bannerHeight">
      <div class="banner-display" [style.height.px]="displayHeight" style="background-image: url('/assets/image/all.jpg')">
        <div class="background-opacity" [ngStyle]="bannerStyles.backgroundOpacity"></div>
        <a class="title" [routerLink]="['/']" [ngStyle]="bannerStyles.title" >米饭博客</a>
      </div>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
