<!--<mat-toolbar color="primary" class="mat-elevation-z6" role="heading">-->
  <!--<a mat-button>米饭博客</a>-->
  <!--<a mat-button [routerLink]="[ '/blog' ]" >文章</a>-->
  <!--<a mat-button [routerLink]="[ '/blog/tag' ]" >标签</a>-->
  <!--<span class="fill-remaining-space"></span>-->
  <!--<button mat-icon-button [matMenuTriggerFor]="menu" class="more">-->
    <!--<mat-icon>more_vert</mat-icon>-->
  <!--</button>-->
  <!--<mat-menu #menu="matMenu">-->
    <!--<a mat-menu-item>-->
      <!--<span>文章</span>-->
    <!--</a>-->
    <!--<a mat-menu-item disabled>-->
      <!--<span>标签</span>-->
    <!--</a>-->
  <!--</mat-menu>-->
<!--</mat-toolbar>-->
<!--<router-outlet></router-outlet>-->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'over'">
    <mat-nav-list>
      <a mat-list-item [routerLink]="[ '/blog' ]" >文章</a>
      <a mat-list-item [routerLink]="[ '/blog/tag' ]" >标签</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z6" role="heading">
      <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-button>米饭博客</a>
      <ng-container *ngIf="!(isHandset$ | async)" >
        <a mat-button [routerLink]="[ '/blog' ]" >文章</a>
        <a mat-button [routerLink]="[ '/blog/tag' ]" >标签</a>
      </ng-container>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="more">
        <mat-icon></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item>
          <span>文章</span>
        </a>
        <a mat-menu-item disabled>
          <span>标签</span>
        </a>
      </mat-menu>
    </mat-toolbar>
    <!--<mat-toolbar color="primary">-->
    <!--<button-->
    <!--type="button"-->
    <!--aria-label="Toggle sidenav"-->
    <!--mat-icon-button-->
    <!--(click)="drawer.toggle()">-->
    <!--<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>-->
    <!--</button>-->
    <!--<span>blog-angular</span>-->
    <!--</mat-toolbar>-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
