<mat-toolbar color="primary" class="mat-elevation-z6" role="heading">
  <a mat-button>米饭博客</a>
  <a mat-button>文章</a>
  <a mat-button>标签</a>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="more">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item>
      <span>文章</span>
    </a>
    <a mat-menu-item disabled>
      <span>标签</span>
    </a>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
