:host {
  display: block;
  padding-top: 63px;
  mat-toolbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    .more {
      flex: auto;
    }
  }
}

@media (max-width: 599px)  {
  :host {
    padding-top: 55px;
  }
}