:host {
  display: block;
  padding-top: 63px;
  mat-toolbar {
    position: fixed;
    z-index: 1000;
    top: 0;
  }
  .fill-remaining-space {
    flex: 1 1  auto;
  }
}

@media (max-width: 599px)  {
  :host {
    padding-top: 55px;
  }
}
